body{
    background-color: #0f172a;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.nav-heading{
    color: #ffffff;
    margin: 0;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2933;
    padding: 15px 40px;
    border-bottom: 2px solid #bff1ef;
    border-radius: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}
.nav-items{
    display: flex;
    list-style: none;
    color: #ffffff;
    gap: 50px;
    margin: 0;
}
.nav-items li{
    cursor: pointer;
}
.nav-items li:hover{
    color: #38bdf8;
}
@media (max-width: 600px){

    .navbar{
        flex-direction: column;
        gap: 10px;
    }
    
    .nav-items{
        gap: 15px;
    }
}
    
.heading{
    color: #ffffff;
    margin: 0;
    margin-bottom: 30px;
}
    
.box{
    margin: 30px auto;
    width: 80vw;
    max-width: 900px;
    border: 1px solid  #bff1ef;
    padding: 20px;
    border-radius: 8px;
    margin-top: 120px;
}
.studentRow{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    color: white;
    border: 1px solid #bff1ef;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 8px;
}
.openButton{
    color: aqua;
    text-decoration: underline;
}
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.modalContent{
    background-color: #1f2933;
    padding: 25px;
    border-radius: 8px;
    width: 300px;
    color: white;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modalContent input{
    padding: 6px;
    border-radius: 4px;
    border: none;
}

.modalButtons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.addBtn{
    background-color: #38bdf8;
    border: none;
    padding: 6px 12px;
    color: white;
    border-radius: 4px;
}

.cancelBtn{
    background-color: #ef4444;
    border: none;
    padding: 6px 12px;
    color: white;
    border-radius: 4px;
}
.deleteBtn{
    background-color: transparent;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 80px;
    color: #ef4444;
    text-decoration: underline;
}